<% include partials/header %>
</div>
  <div class="jumbotron">
    <!-- <img class="jumboImg" src="././images/cactusbanner"> -->
      <h1 class="title"> SUCCULENT <span id="slash">/</span>PORN </h1>
  </div>



        <div class="grid">
            <div class="grid-sizer"></div>
              <% succulents.forEach(function(succulents){ %>
                <div class="grid-item">

                      <a href="/succulents/<%= succulents._id %>">
                       <img src="./uploads/<%= succulents.image %>">
                       <h6 class="boxTitle"><%= succulents.scienceName %></h6>
                        </a>
                </div>

            <% }); %>

</div>


<% include partials/footer %>
