<% include partials/header %>

  <div class="bg">
    <h1 class="jumboTitle">The Cactaceae</h1>
  </div>


<!-- <div class="jumbotron">
    <div class="container">

        <hr>
            <div class="container header">
                <h1 id="header">THE CACTACEAE</h1>
                <h3>descriptions and information of plants of the succulent order</h3>
            </div>
        <hr>
    </div>
</div> -->


        <div class="grid" data-masonry='{"gutter": 10, "isFitWidth": true,"itemSelector": ".grid-item" }'>
            <% succulents.forEach(function(succulents){ %>

                <div class="grid-item">
                    <h6 class="boxTitle"><%= succulents.scienceName %></h6>
                    <a href="/succulents/<%= succulents._id %>">
                        <div class="thumbnail">
                        <img src="./uploads/<%= succulents.image %>">
                        </a>
                        </div>
                    </div>
            <% }); %>
</div>



<% include partials/footer %>
