* {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}

/*====NAVBAR===*/
.menuCenter {
  line-height: 50px;
  white-space: nowrap;
  margin-left: 4%;
  margin-right: 4%;
}
nav {
  background-color: white;
  box-shadow: 0 1px 1px 0px black;
  font-size: 20px;
  height: 50px;
  width: 100%;
  z-index: 600;
  position: fixed;
}

.instagramIcon {
  margin-top: 12px;
  float: right;
}

.nav_title {
  text-decoration: none;
  color: #000;
}


/*====EXIT NAVBAR===*/

/*====JUMBOTRON====*/
.jumbotron {
  padding-top: 50px;
  z-index: 1;
  height: 260px;
  background-image: url('/images/cactusbanner.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
}


.title {
  display:inline;
  margin-top: 30%;
  font-size: 3.2vw;
  margin: 0;
}
#slash {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 2em;
  margin-right: 10px;
}

/*====EXIT JUMBOTRON====*/

/*MASONRY*/

.grid {
  max-width: 69em;
	margin: 30px auto;
	padding: 0;
}
/*clearfix*/
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
}
.grid-item {
  border-radius: 5px;

  /*display: block;*/
	float: left;
	padding: 7px;
	width: 33%;
	/*opacity: 0;*/
}

.grid-item img {
  border-radius: 5px;
  outline: none;
	border: none;
	display: block;
	max-width: 100%;
  position: relative;
}

.boxTitle {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
  position: absolute;
  left: 13px;
  top: 5px;
  right: auto;
  opacity: 0.5;
  color: white;
  font-weight: 300;
}


@media screen and (max-width: 900px) {
	.grid .grid-item {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.grid .grid-item {
		width: 100%;
	}
}

/*EXIT MASONRY*/
