body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
    margin: 0;
}

/*====NAVBAR===*/
.boxTitle {
    text-align: center;
    margin: 0px 0px 0px 0px !important;
    font-size: 18px;
    margin-top: -20px !important;
}
.menuCenter {

  line-height: 50px;
  white-space: nowrap;
  margin-left: 4%;
  margin-right: 4%;
  bordr-bottom:
}
nav {
  background-color: white;
  box-shadow: 0 1px 1px 0px black;
  font-size: 20px;
  height: 50px;
  width: 100%;
  z-index: 600;
  position: absolute;
}

.instagramIcon {
  margin-top:13px;
  float: right;
}
.icon {
  height: 15px;
}

/*====EXIT NAVBAR===*/

/*====JUMBOTRON====*/
.jumbotron {
  padding-top: 50px;
  z-index: 1;
  height: 260px;
  background-image: url('/images/cactusbanner.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
}


.title {
  display:inline;
  margin-top: 30%;
  font-size: 3.2vw;
  margin: 0;
}
#slash {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 2em;
  margin-right: 10px;
}


/*====EXIT JUMBOTRON====*/
.torso {
    margin-left: 10%;
    margin-right: 10%;
}

.grid {
    margin: 0 auto !important;
}
#content {
margin: 0 auto;
width: auto;
}

.grid-item {
    width: 300px;
    margin-bottom: 5px !important;
}

.box {
    padding: 5px 5px 5px 5px !important;
}
.cName, .sName {
    text-align: center;
}


.header {
    text-align: center;
    background-color: #efdfb9;
    font-family: 'Cormorant SC', serif;
}

.container {
    margin: auto !important;
    width: 90% !important;
    padding: 10px !important;
}

.showImg {
  margin-left: 0 auto;
  margin-right: 0 auto;
}
